@{
    ViewBag.Title = "Index";
}

<h2 id="HeaderA">Index A</h2>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            //$('#HeaderA').fadeOut(2000);
        });
    </script>    
}


<!--<h2 data-behavior="slowFadeOut, bleh">Index B</h2> <!-- -->

<!--<h2 data-behavior="customFadeOut" data-duration="1000">Index C</h2> <!-- -->

<h2 style="display: none;" data-behavior="customFade" data-opacity="1">Index D</h2> <!-- -->


